.burger-container{
    display: flex;
    margin-top: 300px !important;
    background-color: black !important;
    color: white;
    z-index: 1;
    flex-direction: row;
}

.active a{
border: none;
}

.btn-navigation{
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    outline: 0px;
    border-style: none;
}

