.card {
    transition: all 200ms ease-out;
    height: 380px;
    width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    margin: 30px;
    border-radius: 5%;
    filter: grayscale(80%);
    transition: all 0.5 ease-out;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: #4985e01f;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}

.container-cities{
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}


.card:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    margin: 20px;
}

.card p:hover{
    background-color: rgba(0, 0, 0, 0.541);
    width:100%;
    text-align: center;
}

.container-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    background-image: url(/public/assets/cities-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.container-input input{
    padding: 20px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    outline: none;
}

.not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 25px;
    width: 100%;
    flex-direction: column;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: black;
    --border-after-color: black;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: 100% !important;
    display: flex;
    justify-content: center;
   }
   /* styling of Input */
   .input {
    text-align: center;
    color: black;
    min-width: 20% !important;
    font-size: 0.9rem;
    background-color: transparent;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   .input:hover {
    background: var(--input-hovered-color);
   }
   
   .input:focus {
    outline: none;
   }

    @media (max-width: 680px) {
        .container-cards {
            flex-direction: column;
            width: 80%;
            flex-wrap: nowrap;
        }

        .card {
            width: 90%;
        }
    }

    @media (max-width: 660px) {
            .card:hover {
                font-size: 2rem;
            }}

    @media (max-width: 425px) {
                .card {
                    width: 90%;
                }
                .container-cards {
                    flex-wrap: nowrap;
                }

                .card-title {
                    font-size: 25px;
                    font-weight: bold;
                    -webkit-text-stroke: 0;
                }
    }