@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.container-footer {
    min-height: 30vh;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}

.footer {
    min-height: 30vh;
    position: absolute;
    width: 100%;
    display: flex;
    color: white !important;
    justify-content: space-evenly;
    background-color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

.footer__addr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__ul-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.li {
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav__ul-icons {
  display: flex;
  gap: 10px;
  color: black;
}

.nav__title{
  text-align: center;
  margin: 0 0 32px 0;

}

.footer__addr {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav__item{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttonScroll-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}

