.container-detail{
      width: 100%;
      display: flex;
      justify-content: center;
      background-color:red ;
}

.container-card{
      width: 85%;
      display: flex;
      justify-content: center ;
      align-items: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
      margin: 20px 0 50px 0;
      min-height: 60vh;
      background-color: rgba(0, 0, 0, 0.445);
      border-radius:  20px; 
      color: white;
            
      
}

.container-profile{
      height: 95%;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(4, 4, 7, 0.829);
      margin: 0 8px 0 15px;
      border-radius: 0 20px 20px 0;
}

.container-itinerary{
      height: 95%;
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius:  20px 0 0 20px ;
      margin-left: 10px;
      background-color: rgba(4, 4, 7, 0.74);
     
}

.imgProfile{
      display: flex;
      justify-content: center;
      
}

.container-profile img{
      width: 75%;
      border-radius: 50%;
      padding-top: 15px;
}