@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.container-maintenance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.title-maintenance {
    font-family: 'Roboto Mono', monospace;
}