.container-mytiGeneral{
      min-height: 70vh;
}

.container-mytinerary{
      display: flex;
      justify-content: space-evenly;
      margin: 20px;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      padding-bottom: 40px;
}

.container-mytiTitle{
      background-color: black;
      color:white;
      font-size: x-large;
      padding: 10px;
}

.container-myti{
      border: 1px solid black;
      margin-bottom: 10px;
      background-color: rgba(4, 4, 7, 0.829);
      color: white;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 20px;
      width: 30%;
      min-width: 200px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}

.container-mytiText{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}

.container-mytiTitle h2{
      text-align: center;
}

.container-user-iti{
      font-size: 20px;
      text-align: center;
      padding: 20px 0 40px;
}

.btn-delete{
      background-color: black;
      border: 2px solid white;
      color: white;
      padding: 5px;
      border-radius: 5px;
}

@media screen and (max-width: 425px){
      .container-myti{
            font-size: 1.1rem;
      }
}