.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-cities {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: black !important;
    border-radius: 20px;
    height: 100%;
}

.input-label{
    display: flex;
    color: black;
    gap: 5px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-form {
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 8px;
    margin: 5px;
    width: 100%;
    font-size: 15px;
    text-align: center;
}

.button-form {
    padding: 10px;
    margin: 10px 0 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(196, 168, 141);
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
