.container-newcities{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.form-cities {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: black !important;
    width: 90%;
    margin: 20px;
    max-width: 600px;
    background: url(/public/assets/bg-table.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.input-label{
    display: flex;
    color: black;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}

.input-form {
    margin: 5px;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: auto;
    font-size: 15px;
}

.button-form {
    padding: 10px;
    margin: 10px 0 30px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(196, 168, 141);
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
