.container-user{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 75vh !important;
}

.container-user input{
      padding: 10px;
}

.container-signup{
      display: flex;
      background-color: rgb(0, 0, 0);
      width: 70%;
      height: 100% !important;
      margin: 20px 0 20px 0;
      border: 2px solid black;
}

.container-registerForm{
      padding: 20px;
      width: 80%;
      background-color: rgb(63, 3, 3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.title-signup{
      font-size:  3rem;
      color: white;
      -webkit-text-stroke: 3px black;
      margin: 0px 0 15px 0;
}

.container-infoForm{
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
}

.img-signin img{
      width: 200px;
      height: 200px;
}

.container-infoForm h3{
      font-size: 1.5rem;
      padding-bottom: 10px;
      margin-top: 10px;
      color: white;
      text-align: center;
}

.container-user button{
      background-color:rgb(63, 3, 3);
      border: 2px solid white;
      border-radius: 55px;
      color: white;
      padding: 5px;
      width: 100px;
}

.form-signup{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 17px;
}

.name-container{
      display: flex;
      margin: 10px;
      gap: 20px;
}

.container-textInfo{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
}

.container-textInfo button{
      margin-bottom: 35px;
}

.container-input{
      height: fit-content;
      background-color: white;
      border-radius: 55px;
      width: 155%;
      height: min-content;
}

.container-input svg{
      width: 10%;
      margin-left: 10px;
}

.container-input input{
      width: 90%;
}

.button-google p{
      font-weight: 500;
      margin:0 0 10px 0 !important;
      color: white;
}

@media screen and (max-width: 875px){
      .container-input{
            width: 100%;
      }
      .container-infoForm h3{
            font-size: 1.2rem;
            text-align: center;
      }

      .container-textInfo p{
            font-size: .9rem;
            margin-left:10px;
            text-align: center;
      }
}

@media screen and (max-width: 680px){
      .container-user{
            align-items: flex-start;
      }
      .container-signup{
            width: 100%;
            margin: 20px;
            flex-direction: column;
            border: none;
      }

      .container-registerForm{
            width: auto;
      }

      .container-infoForm {
            width: 100%;
            justify-content: flex-start;
            text-align: center;
      }

      .container-textInfo button{
            margin-bottom: 20px;
      }

      .button-google{
            margin-bottom: 10px;
      }
}