@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.welcome-container {
    background: url(https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/GTYSdDW/walking-through-airport-terminal_-kj8ez-7h__1d4f3e63d316a125793b316bf27e12fd__P360.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    position: fixed;
    top: 0;
    left: 0;
}

.welcome-title-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pane-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pane {
    margin: 5px;
    z-index: 1;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 5 auto;
    border-radius: .05em;
    border: .01em solid #444;
    position: relative;
    background: #222;
    text-align: center;
    line-height: 1;
    font-size: 80px;
    color: #fff;
    font-family: monospace;
    box-shadow: 
        0px .02em 0 #ccc,
        0px .05em 0 #000;
    text-shadow: -1px -2px 2px rgba(0,0,0,1);
    z-index: 50;
}

.welcome-title{
    z-index: 1;
    font-size: 6rem;
    color: black;
    font-family: 'Inter', sans-serif;
}

.button-container{
    transform: translateY(5rem)
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: black;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid black;
    border-right: 0.125rem solid black;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: black;
   }