@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.main-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

video {
    height: 100%; 
    object-fit: cover;
    width: 100%;
    /* position: fixed; */  
}

.slogan-container{
    padding: 10px;
    text-align: center;
}


.padding-title {
    margin-right: 20px !important;
}

.welcome-title-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pane-container{
    display: flex;
    gap: 30px;
    height: auto !important;
    position: absolute;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pane {
    margin: 5px;
    z-index: 0;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 5 auto;
    border-radius: .05em;
    border: .01em solid #444;
    background: #222;
    text-align: center;
    line-height: 1;
    font-size: 80px;
    color: #fff;
    font-family: monospace;
    box-shadow: 
        0px .02em 0 #ccc,
        0px .05em 0 #000;
    text-shadow: -1px -2px 2px rgba(0,0,0,1);
    z-index: 50;
}

.button-container{
    display: flex;
    align-items: flex-end;
}

a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

a.learn-more {
    width: 12rem;
    height: auto;
}

a.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 1.625rem;
   }
   
   a.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: black;
   }
   
   a.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   a.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid black;
    border-right: 0.125rem solid black;
    transform: rotate(45deg);
   }
   
   a.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   a:hover .circle {
    width: 100%;
   }
   
   a:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   a:hover .button-text {
    color: black;
   }

   @media (max-width: 768px) {
    .pane {
        font-size: 50px;
    }
}

   @media (max-width: 425px) {
    .pane {
        font-size: 35px;
    }

    .padding-title {
        margin-right: 250px !important;
    }

    .panes {
        margin: 20px;
    }
}

@media (max-width: 375px) {
    .pane-container{
        gap: 0px;
    }

    .panes {
        margin: 0px;
    }
}